.App {
  
  
  font-family: cursive;

}

.b{
  text-align: center;;
  
}
img{
  height: 300px;
  
}
.card{
  width: 24rem;
  height: 29rem;
  border-radius:20px;
  padding: 10px 10px;
  background-color: rgb(207, 207, 206);
  
  text-shadow: 3px 3px white;
  box-shadow: 8px 5px rgb(37, 36, 36);
}

.text-center{
  font-size: 50px;
}
.container{

  font-family: cursive;
  
}

